<div
  class="p-5 mb-5 rounded-xl shadow-sm hover:shadow-md transition border border-gray-100 bg-gray-50"
>
  <!--modo lectura-->
  @if (store.editingCommentId() !== comment().id) {
    <div class="flex items-center gap-3 mb-5">
      <span class="text-xm text-black font-medium">
        {{ comment().user?.name }}
      </span>
      <span class="text-sm text-gray-400">{{ comment().createdAt | timeago }}</span>
    </div>

    <p class="text-gray-700 text-sm">
      {{ comment().body }}
    </p>

    <!-- propietario check-->
    @if (comment().userId === userId) {
      <div class="flex justify-end gap-2">
        <button type="button" class="text-blue-500 text-xs mt-2" (click)="openEditModal()">
          Editar
        </button>
        <button type="button" class="text-red-500 text-xs mt-2" (click)="openDeleteModal()">
          Eliminar
        </button>
      </div>
    }
  }
  <!-- modo edición -->
  @if (store.editingCommentId() === comment().id && comment().userId === userId) {
    Editar comentario
    <textarea
      class="mt-2 w-full border rounded p-2 border-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
      [value]="store.editText()"
      (input)="store.editText.set($any($event.target).value)"
    ></textarea>

    <div class="flex justify-end gap-2 mt-2">
      <button
        class="bg-blue-600 text-white px-3 py-1.5 rounded-md text-sm hover:bg-blue-700"
        (click)="saveEdit(comment().id)"
      >
        Guardar
      </button>

      <button
        class="bg-gray-100 text-white-600 px-3 py-1.5 rounded-md text-sm hover:bg-gray-200"
        (click)="store.cancelEdit()"
      >
        Cancelar
      </button>
    </div>
  }
</div>
