<div class="mt-8">
  <!--Cargando comentarios-->
  @if (loading()) {
    <p class="text-gray-400">{{ 'STATE.LOADING_COMMENTS' | translate }}</p>
  }

  <!--Lista-->
  @for (comment of comments() ?? []; track comment.id) {
    <app-detail-comment [userId]="userId()" [comment]="comment" />
  }

  <!--Error-->
  @if (error()) {
    <p class="text-red-500 text-sm">{{ 'STATE.ERROR_COMMENTS' | translate }}</p>
  }

  <!--Post sin comentarios-->
  @if (isEmpty()) {
    <p>{{ 'COMMENTS.EMPTY' | translate }}</p>
  }

  <!--Nuevo comentario-->
  <app-add-comment />
</div>
