<div class="mt-8">
  <!--Cargando comentarios-->
  @if (store.commentsResource.isLoading()) {
    <p class="text-gray-400">CArgando comentarios...</p>
  }

  <!--Lista-->
  @for (comment of store.commentsResource.value() ?? []; track comment.id) {
    <app-detail-comment [userId]="userId()" [comment]="comment" />
  }

  <!--Error-->
  @if (store.commentsResource.error()) {
    <p class="text-red-500 text-sm">Error cargando comentarios</p>
  }

  <!--Post sin comentarios-->
  @if ((store.commentsResource.value()?.length ?? 0) === 0) {
    <p>No hay comentarios</p>
  }

  <!--Nuevo comentario-->
  <app-add-comment></app-add-comment>
</div>
